.card{
    transition: background-color 1s;
}
.card:hover{
    background-color:lightgray;
}
@media only screen and (max-width:576px) {
    .contact-details{
        flex-direction: column;
    }
    .footer{
        flex-direction: column;
        align-items: center;
    }
    .subscribe{
        flex-direction: column;
    }
}
